@model PizzaWorld.Client.Models.OrderViewModel

<form asp-action="post" asp-controller="order" method="POST">
    @foreach (var store in Model.Stores)
    {
        @Html.AntiForgeryToken();
        <input type="radio" name="Store" id="@store.EntityId" value="@store.EntityId">
        <label for="@store.EntityId">@store.Name</label>
    }
    <br>
    @Html.Partial("Pizzas")
    <br>
    <button type="submit">Place Order</button>

</form>
 